*{
    box-sizing: border-box;
}
body{
    background-image: url("https://wallpapers.com/images/featured/snow-mountain-background-4a2xucuwaz3gzfal.jpg");
    background-repeat: no-repeat;
}

input[type="text"], textarea, select{
    font-size: .875rem;
    line-height: 1.25rem;
    border: 1px solid #8fb1e1;
    border-radius: 6px;
    padding: 8px 12px;
    margin-bottom: 12px;
    color: #374151;
}
fieldset{
    border: 1px solid #d1d5db;
    border-radius: 6px;
    width: fit-content;
    margin-bottom: 16px;
    padding: 12px;
}


fieldset legend{
    font-size: 14px;
    color: #7b75e0;
}

input[type="checkbox"]{
    display: inline-block;
}

input[type="checkbox"] ~ label, input[type="radio"] ~ label {
    display: inline;
}

section{
    margin-bottom: 16px;
}

section header{
    margin-bottom: 8px;
}

.row {
    display: flex;
    gap: 16px;
}


.container{
    max-width: 1300px;
    margin: 0 auto;

}

.content{
    box-shadow: 0 1px 3px 0 rgb(9, 37, 66), 0 1px 2px -1px rgb(70, 54, 54);
    background: rgb(97, 107, 133);
    padding: 20px;
    border-radius: 12px;
    width: 500px;
}
.content:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0.2);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.upgrades{
    display:flex;
    align-items: center;
    width: 330px;
    height: 60px;
    justify-content: space-between;
    position: relative;
}
#snow{
    height: 90px;
}
#punch{
    height: 90px;
    width: 90px;
}
#punch:hover{
    content: url('DallasPunch.png');
}
.mid h3{
    margin: 0;
}
.right p{
    margin-bottom: 20px;
}
.top {
    display: flex;
    justify-content: normal;
}